$primaryColor:#BD1917;
$sectionPadding:60px;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Averta", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    padding-top: 56px;
}

button {
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none !important;
}

.title {
    text-align: center;
    h2 {
        font-weight: 300;
        margin-bottom: 20px;
    }
    p {
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 33px;
    }
}

ul {
    list-style-type: none;
}

nav {
    padding: 0 50px !important;
    box-shadow: 0 0 70px #0000001a;
    &.bg-light {
        background-color: white !important;
    }
    .navbar-brand {
        margin-right: 100px;
    }
    .collapse {
        .nav-item {
            padding: 10px 0;
            height: 100%;
            transition: .2s ease;
            border-bottom: 2px solid transparent;
            &:hover {
                border-bottom: 2px solid $primaryColor;
                .navDropDown {
                    top: calc(100% - 2px);
                    opacity: 1;
                    pointer-events: auto;
                    border-top: 2px solid #dcdcdc;
                    li {
                        opacity: 0.7 !important;
                    }
                }
            }
            .navDropDown {
                padding-left: 256px;
                width: 100%;
                transition: all 0.2s ease, border-top 1s ease;
                position: absolute;
                top: 0;
                left: 0;
                background-color: white;
                opacity: 0;
                z-index: -1;
                pointer-events: none;
                border-bottom: 2px solid #dcdcdc;
                border-top: 2px solid transparent;
                .row {
                    margin: 0 auto;
                    padding: 20px 0;
                    >div {
                        padding-left: 20px !important;
                        padding-right: 20px !important;
                    }
                    li {
                        transition: 0.2s ease;
                        margin: 10px 0;
                        opacity: 0;
                        &:hover {
                            opacity: 0.9 !important;
                        }
                    }
                    a {
                        color: black;
                    }
                }
            }
        }
        .nav-link {
            color: #000000ba;
            font-size: 16px;
            line-height: 20px;
            padding: 8px 20px !important;
            color: black !important;
        }
    }
    .rightSide {
        .language {
            display: flex;
            background-color: #ebebeb;
            align-items: center;
            padding: 4px 7px;
            border-radius: 50px;
            a {
                margin: 0 5px;
                line-height: 1;
            }
            img {
                width: 23px;
                height: 23px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}

.about {
    padding: $sectionPadding 0;
    h2 {
        font-size: 40px;
        text-align: left;
        margin-bottom: 24px;
    }
    p {
        &:nth-child(2) {
            margin-bottom: 20px !important;
        }
    }
    a {
        color: $primaryColor;
        position: relative;
        &::after {
            position: absolute;
            left: 0;
            bottom: -4px;
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background: $primaryColor;
            transition: width .3s;
        }
        &:hover {
            color: $primaryColor;
            &::after {
                width: 100%;
            }
        }
    }
}

.customSlider {
    .mainSlide {
        .slide {
            position: relative;
            width: 100vw;
            height: 700px;
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(90deg, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0));
            }
            &:not(.activeSlide) {
                display: none;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                animation: slideImg 1s forwards;
                object-position: center;
            }
            @keyframes slideImg {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
            .caption {
                position: absolute;
                left: 5%;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                button {
                    background-color: $primaryColor;
                    font-size: .9375rem;
                    color: #ffffff;
                    padding: 10px 60px;
                    line-height: 1.55rem;
                    border: none;
                    font-weight: 500;
                    border-radius: 5px;
                }
                h1 {
                    font-size: 65px;
                    line-height: 1;
                    font-weight: 300;
                    letter-spacing: -.05em;
                    color: white;
                    margin-bottom: 40px;
                }
            }
        }
    }
    .slidePagination {
        transform: translateY(-50%);
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        img {
            width: 176px;
            height: 66px;
            object-fit: cover;
            cursor: pointer;
            margin: 0 1.5px;
            transition: 0.2s ease;
            filter: grayscale(1);
            &:hover {
                filter: none;
            }
            &.activeImg {
                box-shadow: 0 0 0 3px white;
                filter: none;
            }
        }
    }
}

.advantages {
    .row {
        margin: 0 !important;
    }
    .advantageCol {
        padding: 80px 50px;
        color: white;
        text-align: center;
        &:hover {
            i {
                opacity: 1;
                transform: translateX(5px);
            }
        }
        h2 {
            font-size: 2rem;
            margin-bottom: 10px;
            font-weight: 400;
        }
        p {
            font-size: 1rem;
            margin-bottom: 16px;
        }
        a {
            font-size: 1rem;
            color: white;
            text-decoration: none;
            transition: 0.2s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                opacity: 0;
                font-size: 12px;
                transition: 0.1s ease;
            }
        }
        &:nth-child(1) {
            background-color: #F0201D;
        }
        &:nth-child(2) {
            background-color: #D61D1A;
        }
        &:nth-child(3) {
            background-color: $primaryColor;
        }
        &:nth-child(4) {
            background-color: #A31614;
        }
    }
}

.services {
    padding: $sectionPadding 0;
    background-color: #323232;
    color: white;
    text-align: center;
    p {
        color: #ccc;
    }
    .serviceCol {
        display: flex;
        align-items: stretch;
        .service {
            padding: 20px;
            border: solid 1px #6a6a6a;
            margin-bottom: 20px;
            text-align: left;
            transition: 0.2s ease;
            position: relative;
            display: flex;
            align-items: center;
            &:after {
                transition: 0.2s ease;
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                height: 100%;
                width: 0;
                background-color: $primaryColor;
            }
            &:hover {
                i {
                    opacity: 1;
                    transform: translateX(5px);
                }
                border: 1px solid $primaryColor;
                &:after {
                    width: 5px;
                }
            }
        }
        a {
            display: flex;
            align-items: center;
            color: white;
            i {
                opacity: 0;
                font-size: 12px;
                transition: 0.1s ease;
            }
        }
    }
}

.servicesNew {
    padding: $sectionPadding 0;
    background-color: #323232;
    color: white;
    text-align: center;
    .serviceImg {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .service {
        padding: 20px;
        border: solid 1px #6a6a6a;
        margin-bottom: 20px;
        text-align: left;
        transition: 0.2s ease;
        position: relative;
        &:after {
            transition: 0.2s ease;
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 0;
            background-color: $primaryColor;
        }
        &:hover {
            i {
                opacity: 1;
                transform: translateX(5px);
            }
            border: 1px solid $primaryColor;
            &:after {
                width: 5px;
            }
        }
    }
    a {
        display: flex;
        align-items: center;
        color: white;
        &:hover {
            color: white;
        }
        i {
            opacity: 0;
            font-size: 12px;
            transition: 0.1s ease;
        }
    }
}

.training {
    padding: $sectionPadding 0;
    h3 {
        color: #4c4c4c;
        margin: 0 0 20px 0;
        letter-spacing: -0.05rem;
    }
    .row {
        >div {
            position: relative;
        }
        img {
            width: 100%;
        }
        p {
            margin-bottom: 40px;
            color: #4c4c4c;
        }
    }
    a {
        color: $primaryColor;
        position: absolute;
        bottom: 10px;
        &::after {
            position: absolute;
            left: 0;
            bottom: -4px;
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background: $primaryColor;
            transition: width .3s;
        }
        &:hover {
            color: $primaryColor;
            &::after {
                width: 100%;
            }
        }
    }
}

.evaluation {
    padding: $sectionPadding 0;
    .text {
        p {
            border-radius: 6px;
            color: #1f262f;
            font-weight: 300;
            text-align: justify;
            margin-top: 20px;
        }
        a {
            color: $primaryColor;
            font-size: 18px;
        }
        .evaluationImg {
            width: 100%;
            object-fit: cover;
        }
    }
    .evaluationRow {
        .row {
            padding: 20px 0;
        }
        .referances {
            h2 {
                text-align: right;
            }
        }
        .rightCol {
            img {
                width: 100%;
                filter: grayscale(1);
                height: 120px;
                object-fit: contain;
                &:hover {
                    filter: none;
                }
            }
        }
    }
}

.consultation {
    padding: $sectionPadding 0;
    background-color: #f5f5f5;
    .title {
        h2 {
            margin-bottom: 33px;
        }
    }
    img {
        width: 100%;
        object-fit: cover;
    }
    ul {
        li {
            margin-bottom: 15px;
            position: relative;
            &::before {
                position: absolute;
                left: -20px;
                content: '\2713';
                color: $primaryColor;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .rightCol {
        display: flex;
        align-items: stretch;
        >div {
            width: 100%;
            letter-spacing: .02em;
            border: 1px solid #dde3e7;
            border-radius: 6px;
            padding: 20px;
            margin-bottom: 30px;
            color: #1f262f;
            font-weight: 500;
            font-size: 15px;
            transition: 0.2s ease;
            &:hover {
                background-color: $primaryColor;
                color: white;
            }
        }
    }
}

.callToAction {
    padding: $sectionPadding 0;
    background: #323232;
    text-align: center;
    h2 {
        font-size: 32px;
        font-weight: 400;
        color: #fff;
        padding-bottom: 22px;
    }
    button {
        padding: 20px 60px;
        border-radius: 2px;
        background-color: #fff;
        font-size: 20px;
        font-weight: 500;
        color: #2d3640 !important;
        border: none;
        &:hover {
            background-color: #f6f6f6 !important;
        }
    }
}

footer {
    color: #4c4c4c;
    background-color: #fff;
    .footerTop {
        padding: $sectionPadding;
        h3 {
            font-weight: 700;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            margin-bottom: 10px;
            padding-bottom: 10px;
            box-shadow: inset 0 -1px 0 0 #ddd;
            display: inline-block;
        }
        ul {
            list-style-type: none;
            li {
                margin: 8px 0;
                color: #595959;
                font-weight: 300;
                font-size: 13px;
                line-height: 25px;
                width: fit-content;
                &:hover {
                    color: $primaryColor;
                }
            }
        }
    }
    .footerBottom {
        border-top: 1px solid lightgray;
        padding: 30px $sectionPadding;
        .row {
            >div {
                color: #595959;
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                display: flex;
                align-items: center;
            }
            .link {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                a {
                    color: #595959;
                    &:first-child {
                        margin-right: 50px;
                    }
                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
            .copyRight {
                justify-content: center;
            }
            .social {
                a {
                    margin-right: 10px;
                    width: 35px;
                    height: 35px;
                    border: 1px solid silver;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.2s ease;
                    i {
                        font-size: 16px;
                        color: #4d4d4d;
                        transition: 0.2s ease;
                    }
                    &:hover {
                        border: 1px solid $primaryColor;
                        i {
                            color: $primaryColor;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .services {
        .col-md-3 {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}